extends ../layouts/page

include ../../blocks/modules/common/page-404/page-404.pug
include ../../blocks/modules/first-block/first-block.pug



block variables
  include ../../data/data.pug
  -
    title = 'Page not found'


block content
  +first-block-min({
    title: 'Page not found',
    breadcrumb: [ 'Main', '404']
  })
  +page-404

