extends ../layouts/index

include ../../blocks/modules/first-block/first-block.pug
include ../../blocks/modules/areas-block/areas-block.pug
include ../../blocks/modules/contact-block/contact-block.pug

block variables
  include ../../data/data.pug
  - const title = "locksmith - location"


block content

  +first-block-min({
    title: 'Our Locations',
    breadcrumb: [ 'Main', 'Our Locations']
  })
  +areas-block({modify: 'min'})
  +contact-block({modify: 'min'})


block scripts
  script(src="/js/page/common.js")
