mixin our-clients
  section.section-our-clients
    .container
      .our-clients
        .our-clients__title Our Clients
        .our-clients__list
          .glide(data-glide='clients')
            .glide__track(data-glide-el='track')
              ul.glide__slides
                each item in [1,2,3,4,5,6]
                  li.glide__slide
                    a(href='#'): +picturePng('/img/clients/c'+item+'')
