mixin our-services
  section.section-our-services
    .container
      .our-services
        .our-services__label: span Fast locksmith
        .our-services__title Our Services
        .our-services__list
          each item in app.service
            .our-services__item: +card-service(item)


mixin card-service(data)
  .card-service
    .card-service__icon
      picture
        img(src=""+data.icon+"" alt="service" width="61px" height="61px")
    .card-service__title= data.title 
    .card-service__desc
      span= data.desc
    .card-service__link
      a(href='#')
        +icons('#ic_link-arrow', 38)
        span Learn more