include ../video-block/video-block


mixin detail-fulltext()
  section.section-detail-fulltext
    .container
      .detail-fulltext
        .detail-fulltext__left
          .detail-fulltext__label: span 24 Hour Emergency
          .detail-fulltext__title Fast Locksmith: For all your Locksmith Services in North Vancouver
          .detail-fulltext__text.formated-text
            p Fast Locksmith North Vancouver 24/7 does it all and we are experts in all locksmith services. If you broke your key in the lock we can fix it instantly, if you need to rekey your lock for security purposes we can assist you immediately. We often face situations where a business is broken in to and our customers know that when they call Fast Locksmith they will get an immediate response 24/7. Of course, If you are locked out of your home, business, or car we are available to help 24/7 and will solve these issues for you without delay. Need to change your locks? Fast Locksmith has a wide range of locks available from all the well-known brands including 6 pin medium security to high-security locks. We will help you decide which is best for your home, car, or business. At Fast Locksmith your safety is always our top priority.
            +picture('/img/common/advantages-img')
            p Fast North Vancouver Locksmith 24/ 7 cares about their customers, and we understand that when you’re in a tough situation, an immediate response is imperative. This is why we work around your schedule, rather than you working around ours. We are there when you need us, day & night, 24 hours a day. We even offer discounts to our customers who have been the victims of crime, as well as to students, seniors, and homeowners, who need a job done but many are worried about being charged prices that they cannot afford. The security of all of our customers is important and we know it isn’t right to overcharge customers whose security is at risk. What sets us apart at Fast Locksmith in North Vancouver 24/7 is our unbeatable quality of service and our 20 minute response times for all emergencies.
            p We are locksmiths serving North Vancouver, West Vancouver, and the North Vancouver District and we are proud of the quality of service we provide.
            ul
              li Patio Door Repair
              li Patio Door Repair
              li Patio Door Repair
              li Patio Door Repair
            p Our range of locksmith services in North Vancouver guarantee we will ready for every problem you encounter. Come rain or shine you can get in touch with us 24 hours, 7 days a week. If you need to contact us to discuss a specific problem please do, we will be happy to help. We will put your mind at ease and have the problem fixed straight away.Our team of professionals will offer you free advice and give you a very competitive estimate on what it will cost to fix your locks. For any emergency locksmith service 24/7 we are the people to contact because we will always put our customers first. If you have any questions about our North Vancouver locksmith service give us a call. Our contact number is (604) 332-3317 so pick up the phone today to discuss any issue you may have.
            h2 Proud to be Your Locksmith in North Vancouver
            p The safety of your home is always our top priority and our highly trained professionals know how to protect you. Our team of professionals have gained a reputation for the committed service to businesses and homes across North Vancouver, West Vancouver and the North Vancouver District. Wherever you are be sure to give us a call and we guarantee your satisfaction. Our 24/7 service ensures that when you need our help, we will be there for you without delay. Fast locksmith have made their name with prompt response times and an unbeatable emergency locksmith service.
            p We understand the importance of securing your home and that is why we do everything to attend to your problem as soon as we can. Our range of services are available on demand and we always ensure to have everything in stock and available straight away for our customers. Contact us for a Locksmith in North Vancouver who cares about their customers

        .detail-fulltext__right
          .services-include
            .services-include__subtitle Our range of locksmith services include:
            .services-include__list
              ul
                li Locks for Business/Residential homes
                li Rekeying Locks
                li Locks Replacement
                li Fixing Locks
                li Changing Locks
                li High security locks
                li Emergency services/Lockout
                li Locks for front & Sliding doors
                li Door and frame fix
                li Handles & Deadbolts
                li Automotive Locksmith Services
                li Pivot Repair
                li Door Closer Repair
            .services-include__contact
              +aside-contact()
    .section-detail-fulltext__bg
      img(src='/img/common/Subtract.svg' alt="bg" loading="lazy")


mixin detail-fulltext-services()
  section.section-detail-fulltext
    .container
      .detail-fulltext
        .detail-fulltext__left
          .detail-fulltext__label: span 24 Hour Emergency
          .detail-fulltext__title Key Cutting and Programming Services
          .detail-fulltext__text.formated-text
            p From rekeying services to key cutting, get professional help from the experienced crew at Fast Locksmith in Burnaby today! You can count on us to provide exceptional key cutting and programming services for all kinds of keys. With over 10 years of experience in the business, our dedicated locksmiths have the necessary knowledge and tools to get your job done right the first time. Call us and ask for a FREE estimate! 
            +picture('/img/common/advantages-img')
            p From rekeying services to key cutting, get professional help from the experienced crew at Fast Locksmith in Burnaby today! You can count on us to provide exceptional key cutting and programming services for all kinds of keys. With over 10 years of experience in the business, our dedicated locksmiths have the necessary knowledge and tools to get your job done right the first time. Call us and ask for a FREE estimate! 
            ul
              li When There Is Inclement Weather
              li In Cases Of Break-Ins
              li If Your Door Undergoes Rust And Wear
              li If Your Door Undergoes Rust And Wear
              li When There Is Inclement Weather
              li In Cases Of Break-Ins

        .detail-fulltext__right
          .services-include
            .services-include__subtitle Key Programming Services We Provide
            .services-include__list
              ul
                li Manual and digital keys
                li Digital keycard and FOB reprogramming
                li Buzzer system programming
    .section-detail-fulltext__bg
      img(src='/img/common/Subtract.svg' alt="bg" loading="lazy")
