.section-areas-block {
    @include section-padding;

    @media screen and (min-width: $w1200) {
        padding-top: 75px;
    }

    @media screen and (min-width: $w760) {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &.section-areas-block--min {
        margin: 0;
    }

    &__bg {
        @include layer(1);
        background-color: #F6F6F6;

        @media screen and (min-width: $w576) {
            background-color: transparent;
        }

        & picture {
            display: none;

            @media screen and (min-width: $w576) {
                height: 100%;
                width: 100%;
                display: block;

                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &__content {
        position: relative;
        z-index: 2;
    }
}

.areas-block {
    &__label {

        display: none;

        @media screen and (min-width: $w760) {
            padding-bottom: 15px;
            display: block;

            & span {
                padding: 7px 16px;
                background: #BF3232;
                border-radius: 10px;
                font-size: 14px;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }

    &__title {
        @include section-title;
        padding-bottom: 45px;

        @media screen and (min-width: $w576) {
            padding-bottom: 65px;
        }
    }

    &__item {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__list {
        @include row-flex;
    }

    &__item {
        @include col;
        @include size(12);
        @include size-w768(6);
        @include size-w992(4);
    }
}

.areas-item {
    display: flex;
    align-items: flex-start;

    &__link {

        padding-left: 50px;

        & a {
            font-size: 18px;
            text-decoration: underline;
        }
    }
}