mixin advantages-block
  section.section-advantages-block
    .container
      .advantages-block
        .advantages-block__title Locksmith Vancouver
        .advantages-block__text For a locksmith in Vancouver who specializes in emergency locksmith services get in touch with Fast Locksmith 24/7 today. Our guaranteed 20 minute response time, as well as our assurance that we will always beat our competitors' prices is what we have built our reputation on. All of our services are available 24/7, so for a locksmith who you can trust to help you in an emergency situation give us a quick call now.
        .advantages-block__wrp

          .advantages-block__items
            each item in app.advantages
              +item-advantages(item)
          .advantages-block__img
            +picture('common/advantages-img')
        .advantages-block__subtitle Locksmith in Vancouver for Every Type of Locksmith Service
        .advantages-block__text Fast Locksmith Vancouver 24/7 does it all and we are experts in all locksmith services 2019. If you broke your key in the lock we can fix it instantly, if you need to rekey your lock for security purposes we can assist you immediately. We often face situations where a business is broken in to and our customers know that when they call Fast Locksmith they will get an immediate response 24/7. Of course, If you are locked out of your home, business, or car we are available to help 24/7 and will solve these issues for you without delay. Need to change your locks? Fast Locksmith has a wide range of locks available from all the well known brands including 6 pin medium security to high-security locks. We will help you decide which is best for your home, car, or business. At Fast Locksmith your safety is always our top priority.
        .advantages-block__more
          a(href="#")
            +icons('#ic_link-arrow')
            span Learn more



mixin item-advantages(data)
  .advantages-item
    .advantages-item__icon
      picture
        img(src="/img/common/icon-advantages.svg")
    .advantages-item__main
      .advantages-item__title= data.title 
      .advantages-item__desc= data.desc  