mixin vacancy
  section.section-vacancy
    .container
      .vacancy
        .vacancy__list
          each item, index in [1,1,1,1,1]
            .vacancy__item
              .item-vacancy(class=""+(!index ? 'open':'')+"")
                .item-vacancy__head
                  .item-vacancy__post locksmith
                  .item-vacancy__cost Salary: <span>$24.25/Hourly</span>
                  .item-vacancy__close: +icons('#ic_faq', 25) 
                .item-vacancy__main
                  ul
                    li <span>Job Type:</span> Full-Time. Permanent
                    li <span>Language:</span> English
                    li <span>Start Date of Employment (Approx.):</span> As soon as possible
                    li <span>Minimum Education:</span> High School Positions Available: 1
                    li <span>NOC Group:</span> Other Trades and Related Occupations (7383)
                    li <span>NOC Job Title:</span> Locksmith Job Number: 433441

                  h3 Job Description

                  p Locksmith to repair, install and replace keys and locks for vehicles, cabinets, residential and commercial applications. Cabinetmaking skills also required to create custom lockable cabinets. 4yrs experience required.
                  p Must have one year of experience using MVP and Bliz machines, installing security hinges, and have experience doing complex master key systems and high security locks. An asset if experience with specialized, high end hardware including Hettich. Blum. GTV, Frascio or ISEO.
                  p Drivers licence required to get to work sites and pick up supplies.Must have good computer skills and good English reading, writing, speaking and listening skills.
                  p Send all applications by email only (no phone calls please) to employment.fastlocksmithfagmail.com
                  p Fast Locksmith and Garage Doors 24/7,1256 Nestor Street, Coquitlam, BC Canada Pin - V3E 2A4

