mixin page-404
  section.section-page-404
    .page-404 
      .page-404__img
        <svg width="93" height="87" viewBox="0 0 93 87" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="85" height="79" stroke="#9C938C"/>
          <line y1="8.5" x2="86" y2="8.5" stroke="#9C938C"/>
          <circle cx="79.5" cy="73.5" r="13" fill="white" stroke="#9C938C"/>
          <circle cx="28" cy="29" r="7.5" fill="white" stroke="#9C938C"/>
          <line x1="75.3536" y1="68.6464" x2="84.7076" y2="78.0005" stroke="#9C938C"/>
          <line x1="74.6464" y1="78.0005" x2="84.0005" y2="68.6465" stroke="#9C938C"/>
          <path d="M14.8649 21L10 31H19" stroke="#9C938C" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M41.8649 21L37 31H46" stroke="#9C938C" stroke-linecap="round" stroke-linejoin="round"/>
          <line x1="15.5" y1="26" x2="15.5" y2="37" stroke="#9C938C"/>
          <line x1="43.5" y1="26" x2="43.5" y2="37" stroke="#9C938C"/>
          <line x1="10" y1="46.5" x2="17" y2="46.5" stroke="#9C938C"/>
          <line x1="21" y1="46.5" x2="40" y2="46.5" stroke="#9C938C"/>
          <line x1="10" y1="51.5" x2="29" y2="51.5" stroke="#9C938C"/>
          <line x1="43" y1="46.5" x2="54" y2="46.5" stroke="#9C938C"/>
          <line x1="32" y1="51.5" x2="43" y2="51.5" stroke="#9C938C"/>
        </svg>

      .page-404__title Страница не найдена
      .page-404__subtitle Страница, которую вы искали по какой-то причине больше не находится по запрашиваему адресу.
      .page-404__btn
        a(href='#'): button.btn НА главную 