mixin page-404
  section.section-page-404
    .page-404 
      .page-404__title Page not found
      .page-404__subtitle The page you were looking for for some reason is no longer located at the requested address.
      .page-404__btn
        a(href='#'): button.btn Back to home