.header-top
  .header-top__wrp
    +icons('#ic_call24')
    span Emergency Locksmith
    +icons('#ic_arr-right', 18)

.header-main
  .container
    .header
      .header__mobile
        .btn-burger
          span
          span
          span

      .header__logo
        a(href='/')
          span.bgimage(style="background-image: url(/img/common/logo.svg)") 

      .header__nav
        nav
          ul
            each item in app.mainMenu
              li: a(href=item.href)= item.text

      .header__phones
        .header__number: a(href='#')
          a(href='#') (604) 227 - 9083

      .header__btn
        button.btn Get free Quote

















