
mixin first-block
  section.section-first-block
    .first-block
      .first-block__bg: +picture('common/first-block-bg')
      .first-block__content
        .container
          .first-block__main
            .first-block__title: h1 Mobile locksmith: <br> Open 24/7 all year round
            .first-block__subtitle Instant response a prices you can afford <br> Call us today at (604)227-9083 
            .first-block__rating
              each item in app.rating
                +rating-badge(item)

          .first-block__form: +order-form()

mixin order-form
  .order-form          
    .order-form__wrp         
      .order-form__title Book a technician <br> 90 seconds response time
      .order-form__fields  
        form(action='#' method='POST')
          .form
            .form__item: .form__subitem: input(type="text" placeholder="Name*")
            .form__item.form__item--phone: .form__subitem: input(type="text" placeholder="Telephone*")
            .form__item: .form__subitem: +select(['Service Needs', 'Service 1', 'Service 2', 'Service 3'])
            .form__item.form__item--btn
              .form__subitem: button.btn.btn-black.btn-full Request service

mixin rating-badge(data)
  .rating-badge
    .rating-badge__icon
      picture
        img(src=""+data.img+"" loading="eager")
    .rating-badge__desc
      .rating-badge__title= data.title
      .rating-badge__star
        span.average-value 4.4
        span.rating-star(style="background-image: url('/img/svg/ic_rating.svg')")
      .rating-badge__count= data.count



