
include ../../components/breadcrumb/breadcrumb.pug

mixin first-block
  section.section-first-block
    .first-block
      .first-block__bg
        +pictureResp({
          w1200: '/img/common/first-block-bg',
          w760: '/img/common/first-block-bg_760',
          w480: '/img/common/first-block-bg_480',
          def: '/img/common/first-block-bg_480',
          lazy: true
        })
      .first-block__content
        .container
          .first-block__main
            .first-block__title: h1 Mobile locksmith: <br> Open 24/7 all year round
            .first-block__subtitle Instant response a prices you can afford <br> Call us today at (604)227-9083 
            .first-block__rating
              each item in app.rating
                +rating-badge(item) 

          .first-block__form: +order-form()

mixin first-block-detail(data)
  section.section-first-block
    .first-block.first-block--detail
      .first-block__bg
        +pictureResp({
          w1200: '/img/common/first-block-bg',
          w760: '/img/common/first-block-bg_760',
          w480: '/img/common/first-block-bg_480',
          def: '/img/common/first-block-bg_480',
          lazy: true
        })
      .first-block__content
        .container
          .first-block__main
            .first-block__title: h1= data.title
            .first-block__subtitle!= data.subtitle
          .first-block__form: +order-form()

mixin first-block-noform(data)
  section.section-first-block
    .first-block.first-block--noform
      .first-block__bg
        +pictureResp({
          w1200: '/img/common/first-block-bg',
          w760: '/img/common/first-block-bg_760',
          w480: '/img/common/first-block-bg_480',
          def: '/img/common/first-block-bg_480',
          lazy: true
        })
      .first-block__content
        .container
          .page-head
            .page-head__title: h1= data.title
            .page-head__subtitle!= data.subtitle



mixin first-block-min(data)
  section.section-first-block
    .first-block.first-block--min
      .first-block__bg
        +pictureResp({
          w1200: '/img/common/first-block-bg',
          w760: '/img/common/first-block-bg_760',
          w480: '/img/common/first-block-bg_480',
          def: '/img/common/first-block-bg_480',
          lazy: true
        })
      .first-block__content
        .container
          .page-head
            .page-head__title: h1= data.title
            .page-head__breadcrumb: +breadcrumb(data.breadcrumb)     




mixin order-form
  .order-form          
    .order-form__wrp         
      .order-form__title Book a technician <br> 90 seconds response time
      .order-form__fields  
        form(action='#' method='POST')
          .form
            .form__item
              .form__subitem: input(type="text" placeholder="Name*")
              .form__subitem.form__subitem--phone: input(type="text" placeholder="Telephone*")
            .form__item
              .form__subitem: +select(['Service Needs', 'Service 1', 'Service 2', 'Service 3'])
              .form__subitem.form__subitem--btn
                button.btn.btn-black.btn-full Request service

mixin rating-badge(data) 
  .rating-badge
    .rating-badge__icon
      picture
        img(src=""+data.img+"" loading="lazy" alt="logo" width="27px" height="27px" )
    .rating-badge__desc
      .rating-badge__title= data.title
      .rating-badge__star
        span.average-value 4.4
        span.rating-star
          span.rating-star__gray(style="background-image: url('/img/svg/ic_rating.svg')")
          span.rating-star__current(style="background-image: url('/img/svg/ic_rating.svg'); width: 80%" )
      .rating-badge__count= data.count



