- 
  const app = {

    mainMenu: [
      {  'text': 'Каталог недвижимости', 'href': 'catalog.html',  },
      {  'text': 'Купить', 'href': 'shop.html',  },
      {  'text': 'Арендовать', 'href': 'rent.html',  },
      {  'text': 'Сoбственникам', 'href': '#',  },
      {  'text': 'О компании', 'href': 'about.html',  },
    ],

    typeSelect : [
      'Тип недвижимости',
      'Загородная',
      'Коммерческая',
      'Городская',
      'Недвижимость в ОАЭ',
      'Недвижимость в Сочи',
      ],

    // home category
    homeCat : [ 
      {
        'title':'Загородная ',
        'img': '/img/home/hcat0.jpg',
        'list':[
          'Коттеджи',
          'Таунхаусы',
          'Участки',
          'Квартиры',
          'Поселки',
          'Аренда ',
          'Акции',
        ],
      },


      {
        'title':'Городская',
        'img': '/img/home/hcat1.jpg',
        'list':[
          'Квартиры',
          'Апартаменты',
          'Пентхаусы',
          'Таунхаусы',
          'Новостройки',
          'Жилые комплексы',
          'Особняки',
          'Аренда',
          'Акции',
        ],
      },

      {
        'title':'Коммерческая',
        'img': '/img/home/hcat3.jpg',
        'list':[
          'Офисы',
          'Готовый бизнес',
          'Торговые ',
          'Особняки',
          'Аренда',
          'Акции',
        ],
      },

      {
        'title':'Недвижимость в ОАЭ',
        'img': '/img/home/hcat4.jpg',
        'list':[
          'Апартаменты',
          'Виллы',
          'Жилые комплексы',
          'Аренда',
          'Акции', 
        ],
      },

      {
        'title':'Недвижимость в Сочи',
        'img': '/img/home/hcat5.jpg',
        'list':[
          'Апартаменты',
          'Дома',
          'Особняки',
          'Таунхаусы',
          'Виллы',
          'Квартиры',
          'Пентхаусы',
          'Аренда',
          'Акции',
        ],
      },


    ],

    //logo clients
    clients: [
      {'link': '#client', 'img':'/img/home/clients/image3.png'},
      {'link': '#client', 'img':'/img/home/clients/image5.png'},
      {'link': '#client', 'img':'/img/home/clients/image7.png'},
      {'link': '#client', 'img':'/img/home/clients/image9.png'},
      {'link': '#client', 'img':'/img/home/clients/image4.png'},
      {'link': '#client', 'img':'/img/home/clients/image6.png'},
      {'link': '#client', 'img':'/img/home/clients/image8.png'},
      {'link': '#client', 'img':'/img/home/clients/image3.png'},
      {'link': '#client', 'img':'/img/home/clients/image5.png'},
      {'link': '#client', 'img':'/img/home/clients/image7.png'},
    ],

    footerLink: [
      {
        'title': 'Тип недвижимости',
        'list': [
          { 'href': '#Апартаменты', 'text': 'Апартаменты',  },
          { 'href': '#Дома', 'text': 'Дома',  },
          { 'href': '#Особняки', 'text': 'Особняки',  },
          { 'href': '#Таунхаусы', 'text': 'Таунхаусы',  },
          { 'href': '#Виллы', 'text': 'Виллы',  },
          { 'href': '#Квартиры', 'text': 'Квартиры',  },
          { 'href': '#Пентхаусы', 'text': 'Пентхаусы',  },
          { 'href': '#Аренда', 'text': 'Аренда',  },
        ]
      },
      {
        'title': 'Округа',
        'list': [
          { 'href': '#ЦАО', 'text': 'ЦАО'},
          { 'href': '#ЗАО', 'text': 'ЗАО'},
          { 'href': '#СЗАО', 'text': 'СЗАО'},
          { 'href': '#ЮЗАО', 'text': 'ЮЗАО'},
          { 'href': '#САО', 'text': 'САО'},
          { 'href': '#ЮАОС', 'text': 'ЮАОС'},
          { 'href': '#ВАО', 'text': 'ВАО'},
          { 'href': '#ВАО', 'text': 'ВАО'},
        ]
      },
      {
        'title': 'Метро',
        'list': [
          { 'href': '#Парк Победы', 'text': 'Парк Победы',  },
          { 'href': '#Третьяковская', 'text': 'Третьяковская',  },
          { 'href': '#Международная', 'text': 'Международная',  },
          { 'href': '#Чкаловская', 'text': 'Чкаловская',  },
          { 'href': '#Алексевская', 'text': 'Алексевская',  },
          { 'href': '#Минская', 'text': 'Минская',  },
          { 'href': '#Тёплый стан', 'text': 'Тёплый стан',  },
          { 'href': '#Кропоткинская', 'text': 'Кропоткинская',  },
          { 'href': '#Улица 1095 года', 'text': 'Улица 1095 года',  },
        ]
      },

      {
        'title': 'Районы',
        'list': [
          { 'href': 'Дорогомилово', 'text': 'Дорогомилово',  },
          { 'href': 'Хамовники', 'text': 'Хамовники',  },
          { 'href': 'Раменки', 'text': 'Раменки',  },
          { 'href': 'Москва Сити', 'text': 'Москва Сити',  },
          { 'href': 'Якиманка', 'text': 'Якиманка',  },
          { 'href': 'Тверской', 'text': 'Тверской',  },
          { 'href': 'Арбат', 'text': 'Арбат',  },
          { 'href': 'Пресненский', 'text': 'Пресненский',  },
          { 'href': 'Останкинский', 'text': 'Останкинский',  },
        ]
      },


    ],

    cardSpec: [
      ['Общая площадь', '494,9 м2'],
      ['Тип квартиры', 'Вторичка'],
      ['Кухня', '19,85 м2'],
      ['Количество комнат', '8'],
      ['Этаж / этажей в доме', '5 / 7'],
      ['Количество спален', '5'],
      ['Количество санузлов', '5'],
      ['Отделка', 'без отделки'],
      ['Балкон', '1'],
    ],

    cardAdv: [
      {
        'type':'Инфраструктура',
        'title':'Парковая зона',
        'image':'/img/common/atg0.jpg',
        'desc':'Наличие прямых контактов с владельцами позволяет предлагать клиентам огромный выбор элитной жилой и коммерческой недвижимости во всех крупных городах России, ближнего и дальнего зарубежья. ',
      },
      {
        'type':'Инфраструктура',
        'title':'Безопасность',
        'image':'/img/common/atg1.jpg',
        'desc':'Основным направлением деятельности агентства недвижимости GRAPH являются операции с городской, коммерческой, загородной и зарубежной недвижимостью. ',
      },
      {
        'type':'Инфраструктура',
        'title':'Парковка',
        'image':'/img/common/atg2.jpg',
        'desc':'Наши клиенты – это частные лица, арендаторы, собственники дорогой недвижимости, госкорпорации, девелоперы и инвесторы, госслужащие, звезды шоу-бизнеса.',
      },

    ],

    mapfilter: [
      {icons: '#ic_mapfilter-all', text:'Все', count: '2'},
      {icons: '#ic_mapfilter-med', text:'здоровье', count: '6'},
      {icons: '#ic_mapfilter-shop', text:'Магазины', count: '2'},
      {icons: '#ic_mapfilter-libray', text:'образование', count: '3'},
      {icons: '#ic_mapfilter-kids', text:'Детсад', count: '2'},
      {icons: '#ic_mapfilter-atr', text:'Отдых', count: '5'},
    ],

    montgage: [
      {
        'logo':'/img/bank/1.png',
        'firstpayment':'от 74 550 000 ₽',
        'tern':'до 25 лет',
        'monthpayment':'2 923 519 ₽',
        'stake':'от 6,25%',
      },
      {
        'logo':'/img/bank/2.png',
        'firstpayment':'от 74 550 000 ₽',
        'tern':'до 20 лет',
        'monthpayment':'2 923 519 ₽',
        'stake':'от 8,89%',
      },
      {
        'logo':'/img/bank/3.png',
        'firstpayment':'от 74 550 000 ₽',
        'tern':'до 25 лет',
        'monthpayment':'2 923 519 ₽',
        'stake':'от 6.1%',
      },
    ],

    jkcatalog: [
      {
        'postid':'875',
        'id':'id 94837875',
        'type':'Квартира',
        'area':'137 кв.м.',
        'level':'1 из 10 ',
        'frame':'1',
        'room':'4 комнаты',
        'bathroom':'2 ванных',
        'disign':'Под отделку',
        'price':'156 000 000 ₽',
      },
      {
        'postid':'985',
        'id':'id 94837875',
        'type':'Квартира',
        'area':'13 кв.м.',
        'level':'5 из 10 ',
        'frame':'1',
        'room':'3 комнаты',
        'bathroom':'2 ванных',
        'disign':'С ремонтом',
        'price':'156 000 000 ₽',
      },
      {
        'postid':'128',
        'id':'id 94837875',
        'type':'Квартира',
        'area':'72 кв.м.',
        'level':'9 из 10 ',
        'frame':'1',
        'room':'4 комнаты',
        'bathroom':'1 ванных',
        'disign':'Под отделку',
        'price':'156 000 000 ₽',
      },
    ]

  };








