- 
  const app = {

    mainMenu: [
      {  
        'text': 'Our Services', 
        'href': 'services.html',  
        'sub' : [
          {
            text: 'Emergency Locksmith',
            href: 'service-detail.html'
          },
          {
            text: 'Residental Locksmith',
            href: 'service-detail.html'
          },
          {
            text: 'Mobile Locksmith',
            href: 'service-detail.html',
            sub: [
              {
                text: 'Mobile Locksmith Abbotsford',
                href: 'service-detail.html'
              },
              {
                text: 'Mobile Locksmith Aldergrove',
                href: 'service-detail.html'
              },
              {
                text: 'Mobile Locksmith Annacis Island',
                href: 'service-detail.html'
              },
              {
                text: 'Mobile Locksmith Burnaby',
                href: '#'
              },
              {
                text: 'Mobile Locksmith Coquitlam',
                href: '#'
              },
              {
                text: 'Mobile Locksmith Delta',
                href: '#'
              },
              {
                text: 'Mobile Locksmith Downtown Vancouver',
                href: '#'
              },
              {
                text: 'Mobile Locksmith East Vancouver',
                href: '#'
              },
            ]
          },
          {
            text: 'Comercial Locksmith',
            href: 'service-detail.html'
          },
          {
            text: 'services 5',
            href: 'service-detail.html'
          },
        ]
        },
      {  
        'text': 'Location', 
        'href': 'location.html',  
        'sub' : [
          {
            text: 'Locksmith Vancouver',
            href: 'location-detail.html',
            sub: [
              {
                text: 'Locksmith Downtown Vancouver',
                href: 'location-detail.html'
              },
              {
                text: 'Locksmith Point Grey',
                link: '#'
              },
              {
                text: 'Locksmith Yaletown',
                link: '#'
              },
              {
                text: 'Locksmith East Vancouver',
                link: '#'
              },
              {
                text: 'Locksmith UBC',
                link: '#'
              },
              {
                text: 'Locksmith Marpole',
                link: '#'
              },
              {
                text: 'Locksmith Kitsilano',
                link: '#'
              },
              {
                text: 'Locksmith Point Grey',
                link: '#'
              },
            ]
          },
          {
            text: 'Locksmith Burnaby',
            href: 'location-detail.html'
          },
          {
            text: 'Locksmith Abbotsford',
            href: 'location-detail.html'
          },
          {
            text: 'Locksmith Coquitlam',
            href: 'location-detail.html'
          },
          {
            text: 'Locksmith Surrey',
            href: 'location-detail.html'
          },
        ]
        },
      {  
        'text': 'Clients', 
        'href': 'clients.html',  

        },
      {  
        'text': 'Precent Project', 
        'href': 'projects.html',  

        },
      {  
        'text': 'Contact', 
        'href': 'contact.html',  

        },
    ],

    auto: [
      { logo: '',  text: 'Honda' },
      { logo: '',  text: 'Toyota' },
      { logo: '',  text: 'Acura' },
      { logo: '',  text: 'Mazda' },
      { logo: '',  text: 'Ford' },
      { logo: '',  text: 'Mercedes' },
      { logo: '',  text: 'Suzuki' },

      { logo: '',  text: 'Lexus' },
      { logo: '',  text: 'Infiniti' },
      { logo: '',  text: 'BMW' },
      { logo: '',  text: 'Maserati' },
      { logo: '',  text: 'Chevrolet' },
      { logo: '',  text: 'Lamborghini' },
      { logo: '',  text: 'Hyundai' },

      { logo: '',  text: 'Chrysler' },
      { logo: '',  text: 'Nissan' },
      { logo: '',  text: 'Porsche' },
      { logo: '',  text: 'GMC' },
      { logo: '',  text: 'Volkswagen' },
      { logo: '',  text: 'Audi' },
      { logo: '',  text: 'Jeep' },
    ],

    rating: [
      {
        'title':'Total Rating',
        'img':'../img/common/logo-aplus.svg',
        'count':'Based on 228 reviews'
      },
      {
        'title':'Google Rating',
        'img':'../img/common/logo-google.png',
        'count':'Based on 228 reviews'
      },
    ],

    service: [
      {
        icon: '/img/common/sv1.svg',
        title: 'Emergency Locksmith',
        desc: 'Emergency Locksmith 24 Hour Emergency Locksmith Even the most careful person can still get locked out of their home, off...',
      },
      {
        icon: '/img/common/sv2.svg',
        title: 'Mobile Locksmith',
        desc: 'Emergency Locksmith 24 Hour Emergency Locksmith Even the most careful person can still get locked out of their home, off...',
      },
      {
        icon: '/img/common/sv3.svg',
        title: 'Residental Locksmith',
        desc: 'Emergency Locksmith 24 Hour Emergency Locksmith Even the most careful person can still get locked out of their home, off...',
      },
      {
        icon: '/img/common/sv4.svg',
        title: 'Automotive Locksmith',
        desc: 'Emergency Locksmith 24 Hour Emergency Locksmith Even the most careful person can still get locked out of their home, off...',
      },
      {
        icon: '/img/common/sv5.svg',
        title: 'Door Repair Vancouver',
        desc: 'Emergency Locksmith 24 Hour Emergency Locksmith Even the most careful person can still get locked out of their home, off...',
      },
    ],

    advantages: [
      {
        title: '24/7 Service',
        desc: 'Available any time of day or night, in and around Vancouver. Fastest arrival at any address.',
      },
      {
        title: 'Mobile Locksmith',
        desc: 'As a mobile locksmith Vancouver service with a fast response time, well be at you time',
      },

      {
        title: 'Commercial Locksmith',
        desc: 'Business security and a reliable locksmith system are directly related, wait no more, contact us now.',
      },
      {
        title: 'Automotive Locksmith',
        desc: 'Being locked in your vehicle? Our car locksmith Vancouver service gets a prompt reply 20min.',
      },
    ],

    areas: [
      'Locksmith North Vancouver',
      'Locksmith Vancouver',
      'Locksmith Burnaby',
      'Locksmith Coquitlam',
      'Locksmith Shaughnessy',
      'Locksmith Yaletown',
      'Locksmith East Vancouver',
      'Locksmith Annacis Island',
      'Locksmith Oakridge',
      'Locksmith Point Grey',
      'Locksmith New Westminster',
      'Locksmith Surrey',
      'Locksmith Richmond',
      'Locksmith Delta',
      'Locksmith Port Mody',
      'Locksmith Tsawwassen',
      'Locksmith West Vancouver',
      'Locksmith Abbotsford',
      'Locksmith Port Coquitlam',
      'Locksmith UBC',
      'Locksmith White Rock',
      'Locksmith Langley',
      'Locksmith Aldergrove',
      'Locksmith Downtown Vancouver',
      'Locksmith Ladner',
      'Locksmith Maple Ridge',
      'Locksmith Mission',
      'Locksmith Pitt Meadows',
      'Locksmith Kitsilano',
      'Locksmith Marpole',
    ], 

    review: [
      {
        type: 'text',
        image: '/img/common/user1',
        name: 'Amilie Thomas',
        text: 'called TOP Locksmith Vancouver locksmith to find out why my lock wasnt working. They arrived within the hour and replaced my old castle with a high security lock. Glory to their quick action.'
      },
      {
        type: 'text',
        image: '/img/common/user2',
        name: 'Nina Simone',
        text: 'Great people outstanding service , the valued employee Alan treats the company as if it was his own and actually even better because it’s not. He goes way out of his way to make sure everything from all ends are looked after . I had a pleasure dealing with this company.'
      },
      {
        type: 'video',
        image: '/img/common/user3',
        name: 'Nina Simone',
        link: 'https://www.youtube.com/watch?v=7_-iNufEXsM'
      },
      {
        type: 'text',
        image: '/img/common/user2',
        name: 'Nina Simone',
        text: 'Great people outstanding service , the valued employee Alan treats the company as if it was his own and actually even better because it’s not. He goes way out of his way to make sure everything from all ends are looked after . I had a pleasure dealing with this company.'
      },
    ],

    faq: [
    {
      'title':'Type of Locksmith Service?',
      'answer':[
        'Great people outstanding service , the valued employee Alan treats the company as if it was his own and actually even better because it’s not. He goes way out of his way to make sure everything from all ends are looked after . I had a pleasure dealing with this company.',
      ],
    }, 
    {
      'title':'How much does it cost to call the master at home?',
      'answer':[
        'Great people outstanding service , the valued employee Alan treats the company as if it was his own and actually even better because it’s not. He goes way out of his way to make sure everything from all ends are looked after . I had a pleasure dealing with this company. ',
        'Great people outstanding service , the valued employee Alan treats the company as if it was his own and actually even better because it’s not. He goes way out of his way to make sure everything from all ends are looked after . I had a pleasure dealing with this company. ',
      ],
    }, 
    {
      'title':'How long does it take to open a lock in a car?',
      'answer':[
        'The valued employee Alan treats the company as if it was his own and actually even better because it’s not. He goes way out of his way to make sure everything from all ends are looked after . I had a pleasure dealing with this company.',
      ],
    }, 
    ],

    project: [
      {
        image: '/img/project/p1',
        title: 'called TOP Locksmith Vancouver locksmith to find out why my lock wasnt working.'
      },
      {
        image: '/img/project/p2',
        title: 'Great people outstanding service , the valued employee'
      },
      {
        image: '/img/project/p3',
        title: 'called TOP Locksmith Vancouver locksmith to find out why my lock wasnt working.'
      },
      {
        image: '/img/project/p4',
        title: 'called TOP Locksmith Vancouver locksmith to find out why my lock wasnt working.'
      },
      {
        image: '/img/project/p5',
        title: 'Great people outstanding service , the valued employee'
      },
      {
        image: '/img/project/p6',
        title: 'called TOP Locksmith Vancouver locksmith to find out why my lock wasnt working.'
      },
    ]

  };
















