- 
  const app = {

    mainMenu: [
      {  'text': 'Каталог недвижимости', 'href': 'catalog.html',  },
      {  'text': 'Купить', 'href': 'shop.html',  },
      {  'text': 'Арендовать', 'href': 'rent.html',  },
      {  'text': 'Сoбственникам', 'href': '#',  },
      {  'text': 'О компании', 'href': 'about.html',  },
    ],

    rating: [
      {
        'title':'Total Rating',
        'img':'../img/common/logo-aplus.svg',
        'count':'Based on 228 reviews'
      },
      {
        'title':'Google Rating',
        'img':'../img/common/logo-google.png',
        'count':'Based on 228 reviews'
      },
    ],

    service: [
      {
        icon: '/img/common/sv1.svg',
        title: 'Emergency Locksmith',
        desc: 'Emergency Locksmith 24 Hour Emergency Locksmith Even the most careful person can still get locked out of their home, off...',
      },
      {
        icon: '/img/common/sv2.svg',
        title: 'Mobile Locksmith',
        desc: 'Emergency Locksmith 24 Hour Emergency Locksmith Even the most careful person can still get locked out of their home, off...',
      },
      {
        icon: '/img/common/sv3.svg',
        title: 'Residental Locksmith',
        desc: 'Emergency Locksmith 24 Hour Emergency Locksmith Even the most careful person can still get locked out of their home, off...',
      },
      {
        icon: '/img/common/sv4.svg',
        title: 'Automotive Locksmith',
        desc: 'Emergency Locksmith 24 Hour Emergency Locksmith Even the most careful person can still get locked out of their home, off...',
      },
      {
        icon: '/img/common/sv5.svg',
        title: 'Door Repair Vancouver',
        desc: 'Emergency Locksmith 24 Hour Emergency Locksmith Even the most careful person can still get locked out of their home, off...',
      },
    ],

    advantages: [
      {
        title: '24/7 Service',
        desc: 'Available any time of day or night, in and around Vancouver. Fastest arrival at any address.',
      },
      {
        title: 'Mobile Locksmith',
        desc: 'As a mobile locksmith Vancouver service with a fast response time, well be at you time',
      },

      {
        title: 'Commercial Locksmith',
        desc: 'Business security and a reliable locksmith system are directly related, wait no more, contact us now.',
      },
      {
        title: 'Automotive Locksmith',
        desc: 'Being locked in your vehicle? Our car locksmith Vancouver service gets a prompt reply 20min.',
      },
    ]

  };








