.page {

    padding-top: rem(75);

    @media screen and (max-width: $w580) {
        padding-top: rem(35);

    }

    &--card {
        padding-top: rem(35);

        @media screen and (max-width: $w580) {
            padding-top: rem(35);

        }
    }

    &__title {

        padding-bottom: rem(25);

        @media screen and (max-width: $w580) {
            padding-bottom: rem(20);

        }

        & h1 {
            @include section-title;
        }
    }

    &__breadcrumb {
        padding-bottom: rem(25);

        @media screen and (max-width: $w580) {
            padding-bottom: rem(15);

        }
    }
}

.animate {



    &.fadein {
        visibility: hidden;

        &.animated {
            animation: fade-in 1.5s ease;
        }
    }

    &.slideup {
        visibility: hidden;

        &.animated {
            animation: slide-up-block 1s ease;
        }
    }


}

#mappopup {
    width: 80vw;
    height: 75vh;

    @media screen and (max-width: $w760) {
        width: 95vw;
        height: 85vh;
    }
}

.inmap-popup .fancybox__content {
    padding: 0
}