html {
    font-family: Source Sans Pro, arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    background: #fff;
    color: #000;
    letter-spacing: normal;


}


button:active,
button:hover,
input:active,
input:focus,
input:hover {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #000;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.hidden {
    overflow: hidden;

    @media screen and (min-width: $w1024) {
        margin-right: 17px;
    }
}

.hide {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

section {
    overflow: hidden;
    position: relative;

}

main {
    width: 100%;
}

.container {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    padding: 0 rem(20);
    box-sizing: border-box;

    &.container--large {
        @media screen and (min-width: $w1440) {
            max-width: 1478px;
        }
    }


    @media screen and (min-width: $w576) {
        padding: 0 15px;
        max-width: 480px;
    }

    @media screen and (min-width: $w760) {
        padding: 0 20px;
        max-width: 705px;
    }

    @media screen and (min-width: $w992) {
        padding: 0 30px;
        max-width: 990px;
    }

    @media screen and (min-width: $w1200) {
        padding: 0 30px;
        max-width: 1200px;
    }

    @media screen and (min-width: $w1440) {
        padding: 0 30px;
        max-width: 1340px;
    }
}

.pull-right {
    justify-content: flex-end !important;
}

.pull-left {
    justify-content: flex-start !important;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: $main;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $main;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $main;
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: $main;
    opacity: 1;
}

.gmnoprint {
    opacity: 0;
}

.gm-style-cc {
    opacity: 0;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
    border: 2px solid var(--fancybox-accent-color);
}



:root {
    --fancybox-accent-color: #9C938C;
    --carousel-button-width: 48px;
    --carousel-button-height: 48px;
    --carousel-button-svg-width: 27px;
    --carousel-button-svg-height: 27px;
    --fancybox-bg: rgba(24, 24, 27, 0.92);
    --fancybox-thumbs-width: 96px;
    --fancybox-thumbs-border-radius: 0px;
    --swiper-navigation-color: #fff;

    // @media screen and (max-width: $w1440) {
    //     --swiper-navigation-size: 28px
    // }
}

.fancybox__nav {
    // @media screen and (max-width: $w576) {
    //     display: none !important;
    // }
}


/* ================== */

@mixin section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 117.2%;
    color: #1B1A1C;

    @media screen and (min-width: $w760) {
        font-size: 60px;
    }
}

@mixin section-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: rem(36);
    line-height: 110%;
    color: $black;


}


@mixin section-padding {
    padding: 30px 0;

    @media screen and (min-width: $w576) {
        padding: 50px 0;
    }
}